#cab{
    text-align: center;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  rgba(255, 255, 255, 0.7);
    font-weight: bold;
    background-color: rgba(35, 35, 107, 0.2);
}
body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../img/fundo.webp");
    background-size: cover;
}
#form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}
#tblpar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
}
tr{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
td{
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}
#divCaixa{
    margin-top: 5%;
}
#btn{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
.oc{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    margin: 10px;
}
#oculta{
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}